<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887891385011-t873ert10p366jr56inordg0kj80vdf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887891385011-t873ert10p366jr56inordg0kj80vdf5</string>
	<key>API_KEY</key>
	<string>AIzaSyCKOyek7YfY6JNU_B8ZgMIo_dK3nJBwNtI</string>
	<key>GCM_SENDER_ID</key>
	<string>887891385011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xiaoming.news.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-news-5ca80</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-news-5ca80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887891385011:ios:f09d78eb39abde974caec6</string>
</dict>
</plist>